<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Pig Latin Translator</title>
  <link rel="stylesheet" href="../static/css/style.css"> <!--Gure estiloa-->
</head>
<body>
  <div class="container">
    <!--Header-->
    <img src="../static/img/pig.jpg" alt="Pig Latin" class="header-image">
    <h1>Pig Latin Translator</h1>
    <!--/Header-->

    <!--Formularioa-->
    <form id="translate-form">
      <input type="text" id="phrase" placeholder="Enter a phrase..." required />
      <button type="submit">Translate</button>
    </form>
    <!--/Formularioa-->

    <!--Erantzuna erakutsiko dugun tarte hutsa-->
    <div id="result"></div>
    <!--Erantzuna erakutsiko dugun tarte hutsa-->
  </div>

  <script src="../static/js/main.js"></script> <!--Gure JS-ko scripta ere behar dugu-->
</body>
</html>
